* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans",
  sans-serif; 
  font-size: 28px;
  color: #E9F5ED;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  background-color: #60ACBE;
  overflow-x: hidden;
  min-width: 320px;
  width: 100%;
}

a {
  color: #E9F5ED;
  text-decoration: none;
}

nav {
  background-color: #258EA6;
}

.nav-photo {
  padding: 3%;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
}

.nav-element {
  padding: 1%;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
}

.nav-element img:hover {
  -webkit-filter: invert(100%);
}

section {
  min-height: 200px;
  margin: 0 auto;
  padding: 10%;
  background-color: #88CC9F;
}

section:nth-child(1) {
  background-color: #44AF69;
}

section:nth-child(2) {
  background-color: #60ACBE;
}

.button {
  display: block;
  background-color: #258EA6;
  border-radius: 5px;
  color: #ffffff;
  margin: 0 auto;
  padding-top: 4px;
  width: 85px;
  height: 33px;
  font-size: 18px;
  text-align: center;
}

.button:hover {
  background: #44AF69;
}

.project-container {
  margin: 0 auto;
  width: 80%;
}

.project-desc {
  font-size: 24px;
  margin-bottom: 50px;
  margin-left: 0px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.project-img {
  padding-top: 30px;
  padding-bottom: 110px;
  margin: 0 auto;
}

.stay-informed-img {
  width: 250px;
}

.spaced-repitition-img {
  width: 150px;
}

.zenTube-img {
  width: 100px;
}

.github {
  float: left;
}

.right {
  float: right;
}

.center {
  text-align: center;
}

.about-me {
  margin: 0 auto;
  width: 80%;
  padding-bottom: 50px;
}

@media only screen and (min-width: 700px) {
  .nav-photo {
    padding: 5%;
  }
  
  .nav-element {
    padding: 4%;
  }

  .stay-informed-img {
    width: 500px;
  }

  .spaced-repitition-img {
    width: 271px;
  }

  .zenTube-img {
    width: 217px;
  }

  .github {
    margin-left: 100px;
    float: left;
  }
  
  .right {
    margin-right: 100px;
    float: right;
  }

}

@media only screen and (min-width: 1600px) {
  body {
    font-size: 24px;
  }

  .project-container {
    height: 550px;
  }

  .project-desc {
    font-size: 24px;
    width: 60%;
    float: left;
  }

  .project-img {
    padding-top: 30px;
    padding-bottom: 70px;
    padding-left: 50px;
    margin: 0 auto;
    width: 40%;
    max-height: 100px;
    float: left;
  }



}
