* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans",
  sans-serif; 
  font-size: 28px;
  color: #E9F5ED;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  background-color: #60ACBE;
  width: 100vh;
  overflow-x: hidden;
}

a {
  color: #E9F5ED;
  text-decoration: none;
}

nav {
  width: 101%;
  overflow-x: hidden;
  background-color: #258EA6;
}

.nav-photo {
  padding: 5%;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
}

.nav-element {
  padding: 5%;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
}

.nav-element img:hover {
  opacity:.5;
}

section {
  min-height: 200px;
  margin: 0 auto;
  padding: 10%;
  background-color: #88CC9F;
  width: 101%;
}

section:nth-child(1) {
  background-color: #44AF69;
  width: 101%;
}

section:nth-child(2) {
  background-color: #60ACBE;
  width: 101%;
}

button {
  display: block;
  background-color: #258EA6;
  border-radius: 5px;
  color: white;
  margin: 0 auto;
  padding-top: 4px;
  width: 120px;
  height: 30px;
  font-size: 18px;
}

button:hover {
  opacity:.5;
}

.project-container {
  margin: 0 auto;
  width: 500px;
  height: 1100px;
}

.project-desc {
  font-size: 24px;
  width: 65%;
  margin-bottom: 50px;
  margin-left: 0px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.project-img {
  padding-top: 30px;
  text-align: center;
  margin: 0 auto;
}

.project-img img {
  width: 250px;
}

.github {
  float: left;
}

.right {
  float: right;
}

.center {
  text-align: center;
}

.about-me {
  margin: 0 auto;
  width: 300px;
  padding-bottom: 50px;
}

@media only screen and (min-width: 700px) {
  body {
    width: 100%;
  }

  .project-container {
    margin: 0 auto;
    width: 700px;
    height: 950px;
  }

  .about-me {
    margin: 0 auto;
    width: 450px;
  }

}@media only screen and (min-width: 1100px) {
  nav {
    position: fixed;
    height: 100%;
    width: 200px;
    z-index: 10;
    overflow-x: hidden;
    background-color: #258EA6;
    padding: 1% 0;
  }
  
  .nav-element {
    margin-top: 20px;
    float: none;
    padding: 10px;
    display: block;
    height: 120px;
    margin: 10px;
  }

  section {
    padding: 6% 100px 100px 300px;
  }


  .project-desc {
    font-size: 18px;
    width: 60%;
    float: left;
  }

  .project-container {
    width: 750px;
    height: 450px;
  }

  .project-img {
    margin-left: 5px;
    margin-top: 0;
    float: right;
  }

  .about-me {
    margin: 0 auto;
    width: 650px;
  }

}@media only screen and (min-width: 1400px) {
  .project-container {
    width: 1000px;
  }

  .project-img {
    margin-left: 70px;
    float: right;
  }

}