* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans",
  sans-serif; 
<<<<<<< HEAD
  font-size: 24px;
=======
  font-size: 18px;
>>>>>>> b9faf462ca159ab42d86b3bca20ab08fb2f882fb
  color: #E9F5ED;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  background-color: #60ACBE;
<<<<<<< HEAD
  width: 100vh;
=======
>>>>>>> b9faf462ca159ab42d86b3bca20ab08fb2f882fb
}

a {
  color: #E9F5ED;
  text-decoration: none;
}

nav {
<<<<<<< HEAD
  width: 100%;
  overflow-x: hidden;
  background-color: #258EA6;
}

.nav-element {
  padding: 5%;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
=======
  height: 400px;
  width: 100%;
  overflow-x: hidden;
  background-color: #258EA6;
  padding: 1% 0;
  margin: 0;
}

.nav-element {
  margin-top: 20px;
>>>>>>> b9faf462ca159ab42d86b3bca20ab08fb2f882fb
}

section {
  min-height: 200px;
  margin: 0 auto;
  padding: 10%;
  background-color: #88CC9F;
}

section:nth-child(1) {
  background-color: #44AF69;
}

section:nth-child(2) {
  background-color: #60ACBE;
}

button {
  display: block;
  background-color: #258EA6;
  border-radius: 5px;
  color: white;
  margin: 0 auto;
  width: 80px;
}

<<<<<<< HEAD
/* .section-div {
=======
.section-div {
>>>>>>> b9faf462ca159ab42d86b3bca20ab08fb2f882fb
  font-size: 15px;
  padding: 50px;
  margin: 0 auto;
  margin-bottom: 100px;
  max-width: 700px;
<<<<<<< HEAD
} */

.project-container {
  margin: 0 auto;
  border: 1px solid red;
  width: 500px;
  height: 500px;
}

.project-desc {
  border: 1px solid;
  font-size: 15px;
  width: 65%;
  margin-bottom: 50px;
  margin-left: 0px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.project-img {
  border: 1px solid;
  /* padding-left: 0px; */
  padding-top: 30px;
  /* padding-bottom: 100px; */
  box-align: center;
  width: 35%;
  margin: 0 auto;
}

.github {
  float: left;
}

/* .left {
  float: left;
} */

.right {
  float: right;
}

=======
}

.bookmark-img {
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 100px;
  width: 100px;
  margin: 0 auto;
}

.project-desc {
  font-size: 15px;
  width: 500px;
  margin-bottom: 50px;
  margin-left: 0px;
}

.left {
  float: left;
}

>>>>>>> b9faf462ca159ab42d86b3bca20ab08fb2f882fb
.center {
  text-align: center;
}

<<<<<<< HEAD
.about-me {
  margin: 0 auto;
  width: 500px;
  height: 300px;}

@media only screen and (min-width: 700px) {
  body {
    width: 100%;
  }

  section:nth-child(1) {
    background-color: #44AF69;
  }

  section:nth-child(2) {
    background-color: #60ACBE;
  }

  .project-container {
    margin: 0 auto;
    border: 1px solid red;
    width: 700px;
  }

  .project-desc {

  }

  .about-me {
    margin: 0 auto;
    width: 500px;
  }

}@media only screen and (min-width: 900px) {
  body {
    /* font-size: 18px; */
=======
#about-me {
  margin: 0;
}

@media only screen and (min-width: 1100px) {
  nav {
    position: fixed;
    height: 100%;
    width: 200px;
    z-index: 10;
    overflow-x: hidden;
    background-color: #258EA6;
    font-size: 20px;
    padding: 1% 0;
  }

  section {
    min-height: 200px;
    padding: 6% 100px 100px 300px;
    background-color: #88CC9F;
>>>>>>> b9faf462ca159ab42d86b3bca20ab08fb2f882fb
  }

  section:nth-child(1) {
    background-color: #44AF69;
  }

  section:nth-child(2) {
    background-color: #60ACBE;
  }

<<<<<<< HEAD
  .project-container {
    margin: 0 auto;
    border: 1px solid red;
    width: 700px;
    height: 300px;
  }

  .project-desc {
    float: left;
  }

  .project-img {
    float: right;
  }

  .about-me {
    margin: 0 auto;
    width: 500px;
  }

}@media only screen and (min-width: 1100px) {
  nav {
    position: fixed;
    height: 100%;
    width: 200px;
    z-index: 10;
    overflow-x: hidden;
    background-color: #258EA6;
    padding: 1% 0;
  }
  
  .nav-element {
    margin-top: 20px;
    float: none;
    padding: 10px;
    display: block;
    height: 120px;
    margin: 10px;
  }

  section {
    min-height: 200px;
    padding: 6% 100px 100px 300px;
=======
  .project-desc {
    font-size: 15px;
  }

  .right {
    float: right;
  }

  .bookmark-img {
    padding-top: 20px;
    padding-left: 40px;
    float: right;
  }


}@media only screen and (min-width: 900px) {
  section {
    min-height: 200px;
    padding: 6% 100px 100px 200px;
>>>>>>> b9faf462ca159ab42d86b3bca20ab08fb2f882fb
    background-color: #88CC9F;
  }

  section:nth-child(1) {
    background-color: #44AF69;
  }

  section:nth-child(2) {
    background-color: #60ACBE;
  }

<<<<<<< HEAD
  .project-container {
    border: 1px solid red;
    width: 700px;
    height: 300px;
  }

  /* .project-img {
    padding-top: 20px;
    padding-left: 40px;
    float: right;
  } */
=======
  .project-desc {
    font-size: 15px;
  }

  .right {
    margin: 0 auto;
  }
>>>>>>> b9faf462ca159ab42d86b3bca20ab08fb2f882fb

}